[flake8]
max-line-length = 119

# Ошибки, которые нужно игнорировать
# E203: пробел перед оператором ':'
# W503: разрыв строки перед бинарным оператором
ignore = E203, W503

# Файлы и директории, которые нужно исключить из проверки
fexclude = .git, __pycache__, venv, .venv